body {background-color:#b0c4de; color: black; }
div#map-canvas {
	width:100%; 
	height:800px;
}
div.actionbar {
	position:absolute;
	top:2px;
	left:2px;
	z-index:4;
	float:right;
}
div#cityname {
    position:absolute;
	top: 5px;
    left:2px;
    z-index:3;
}
div.inputDiv {
    position:relative;
    left:2px;
	top:2px;
    z-index:3;
	resize: vertical;
	border:2px solid;
	border-radius:25px;
	font-size:16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:3px;
	padding-top:3px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: white;
}
input.fromTo {
	position:relative;
	font-size:18px;
	font-family:verdana;
	width: 85%;
}
div#fare {
    left:10px;
    z-index:3;
	margin-top: 10px;
	border:2px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:5px;
	padding-top:5px;
	background-color: white;
	font-family:verdana;
}
div#shareFare {
    left:10px;
    z-index:3;
	margin-top: 10px;
	border:2px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:5px;
	padding-top:5px;
	background-color: white;
	font-family:verdana;
}
div.addr{
    position:relative;
    left: 2px;
    z-index:5;
	resize: vertical;
	border:2px solid;
	font-size:16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:3px;
	padding-top:3px;
	background-color: white;
}
textarea:focus, input:focus{
    outline: 0;
}
.shareText {
	font-family:verdana;
}

div#approveRide {
    left:10px;
    z-index:3;
	margin-top: 10px;
	border:2px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:5px;
	padding-top:5px;
	background-color: white;
	font-family:verdana;
}

div#statusMessage {
	position:absolute;
	top:575px;
	width:100%;
	background-color:grey;
	color:white;
}
.button{
  width: 120px;
  height: 24px;
  padding: 5px 16px 3px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border: 2px solid #ccc;
  position: relative;
	
  /* Label */
  font-family: Lucida Sans, Helvetica, sans-serif;
  font-weight: 800;
  color: #fff;
  text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow: hidden;
}
.aqua{
  background-color: rgba(60, 132, 198, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(28, 91, 155, 0.8)), to(rgba(108, 191, 255, .9)));
  border-top-color: #8ba2c1;
  border-right-color: #5890bf;
  border-bottom-color: #4f93ca;
  border-left-color: #768fa5;	
  -webkit-box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px;
  -moz-box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px; /* FF 3.5+ */
}
.button .glare {
  position: absolute;
  top: 0;
  left: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  height: 1px;
  width: 142px;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.25);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
}

div.centre
{
  width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#showHidePanel {
	top: 60px;
	width: 50px;
	height: 30px;
	z-index: 3;
	left: 10px;
	position: absolute;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	font-size:1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:3px;
	padding-top:3px;
	background-color: #FFFFAA;
	background-image: url('../images/arrow_right.png');
	background-repeat:no-repeat;
	background-position:center; 
	color: #FFFFAA;
	-webkit-transition: all 0.5s ease-in-out;
}
#showHidePanel.show {
	top: 40px;
	left: 220px;
	background-image: url('../images/arrow_left.png');
	background-repeat:no-repeat;
	background-position:center; 
}
#left-panel {
  width: 300px;
  height: auto;
  overflow-y: auto;
  top: 70px;
  z-index: 3;
  border: 5px solid #555;
  background-color: #FFFFE3;
  position: fixed;
  left: -300px;
  border-radius: 0 1em 1em 0;
  padding: 5px;
  -webkit-transition: all 0.5s ease-in-out;
}
 
#left-panel:hover {
  left: -250px;
}
 
#left-panel.show {
  left: -5px;
}
 
#left-panel a.controller {
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  color: black;
  font-weight: bold;
}
 
#left-panel.show a.controller {
  -webkit-transform: rotate(180deg);
}

.clearButton {
	vertical: top;
	float: right;
}

#showMsg { 
	position:absolute;
	top:5px;
	left:400px;
	width:150px;
	background-color:white;
	font-weight:bold;
}

#routeList {
	left:10px;
    z-index:3;
	margin-top: 10px;
	border:2px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:5px;
	padding-top:5px;
	background-color: white;
	font-family:verdana;
}

#clearMsg {
	position:absolute;
	top:0px;
	left:700px;
}

div#sDistTime {
	margin-top: 5px;
}

div#sVehicleFare {
	margin-top: 5px;
}

div#sWalking {
	margin-top: 10px;
}

div#actBar {
	top:0px;
	height:30px;
	background-color:black;
	color:white;
	font-weight:bold;
	padding-top:5px;
}