body {
    background-color: #d3d3d3;	    
    font: normal 16px Helvetica, sans-serif;
}

#content {
    text-align: center;
    padding-top: 20px;
}

img {
    padding: 5px;
    background: white;
}

.rotate {
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

form {
    padding-top: 2px;
}

.fail {
	background: red;
	color: white;
}

footer {
    margin-top: 30px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
