<header>
<link rel="stylesheet" type="text/css" href="wardmap.css">


 <script type = "text/javascript" >
	document.write("\<script src='//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js' type='text/javascript'>\<\/script>");
 </script>
<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBGTOIvmNXidmweYyblzMAj_8FTgWzvT_w&libraries=geometry&callback=initialize" async defer >  </script>
<!-- <script src="label.js"></script> -->
<script src="wardmap.js"></script>
 
</header>
<div id="map" style="width:100%;height:100%"></div>
