/*
.circle
{
width:500px;
height:500px;
border-radius:50%;
font-size:50px;
color:#fff;
line-height:500px;
text-align:center;
background:#000
}
*/
/*
.circle {
	color:blue;
	font-size:28px;
	font-weight:bold;
	text-align:center;
	border:6px solid # ffd511;
	border-radius:30px;
	width:30px;
	height:18px;
	line-height:20px;
	padding:12px 6px;
	text-align:center;
}
*/
.labels{
    color: blue;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    pointer-events: none;
    text-align: center;
    width: 60px;
    white-space: nowrap;
}

.circle {
		color:blue;
	font-size:20px;
	font-weight:normal;
  border: 6px solid #ffd511;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  width: 30px;
  height: 18px;
  line-height: 20px;
  padding: 12px 6px;
  text-align: center;
}

$colors: red, orange, yellow, green, blue, purple;

@for $i from 1 through length($colors) {
	li:nth-child(#{length($colors)}n+#{$i}) {
		background: lighten(nth($colors, $i), 20%);
	}
}