/* 
.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	} */

	/*body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
	BACKGROUND-SIZE: COVER;
}*/

#left{
	float : left;
	 padding-right:80px;
	 padding-top: 20px;
	 text-align:center;
}

#right{
	float:right;
	padding-left:50px; 
	padding-top: 20px;
	
}
#headch{
    font-family: "Algerian";
}
