.spnContainer {
   height: auto;
   overflow: hidden;
}

.right {
    width: auto;
    float: right;
}

.left {
    float: left;
    width: auto;
}​​

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}
ul
{
    list-style-type: none;
}
li
{
    list-style-type: none;
}
